* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 202, 141);
}

h1 {
    margin: 40px;
    font-size: 50px;
    font-weight: 800;
    color: rgb(27, 60, 6);
}

#buttonContainer {
    display: flex;
    gap: 30px;

    button {
        width: 120px;
        padding: 10px;
        border-radius: 8px;
        margin: 20px;
        font-size: 14px;
    }
}
.divContainer, .newDivContainer {
    border: solid rgb(26, 58, 144) 2px;
    display: flex;
    flex-wrap: wrap;
    width: 644px;
    height: 644px;
    align-content: center;
    background-color: rgb(13, 76, 98);
    margin-bottom: 80px;
    margin-top: 20px;

    
}